/* General styles */
body {
    background-color: #0a0f1b;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bg-black {
    background-color: #000000 !important;
}
.navbar-brand,
.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #a1ecb3;
}
/* Main content */
.container {
    max-width: 960px;
}

h1 {
    color: #a1ecb3;
    text-align: center;
}

h2 {
    color: #a1ecb3;
}

#humidity {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slider {
    width: 75%;
}

#sliderValue {
    font-size: 1.2em;
    background-color: #343a40;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.login,
.sensor,
.control,
.history {
    background-color: #142634;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: #1c2b3a;
    color: #f1f1f1;
}
input[type="range"],
input[type="submit"] {
    width: 50%;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    padding: 8px;
}


input[type="range"] {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #a1ecb3;
    color: #142634;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

    input[type="submit"]:hover {
        background-color: #7fd993;
    }

.text-danger {
    color: #e74c3c;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Footer */
footer {
    background-color: #142634;
    padding: 16px;
    color: #f1f1f1;
    text-align: center;
}
