@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Created as a project for the subject PV178 Úvod do vývoje v C#/.NET.</p>
<br />
<a href="https://github.com/comrade-napoleon/WWWatering">https://github.com/comrade-napoleon/WWWatering</a>