@page
@model IndexModel
@inject MyService MyServiceInstance
@{
    ViewData["Title"] = "WWWatering";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  <div class="container">
    <h1>Plant Watering System</h1>
    <div class="sensor">
      <h2>Current Humidity</h2>
      <p id="humidity">50%</p>
    </div>
    <div class="control">
      <h2>Water the Plant</h2>
      <form method="post">
        <div class="slider-container">
          <input type="range" min="1" max="99" value="1" name="SliderValue" id="slider" />
          <div>
            <span>Watering time: </span><span id="sliderValue">1</span><span>s</span>
          </div>
        </div>
        <input type="submit" value="Water" asp-page-handler="ButtonClick" />
      </form>
      @if (Model.Message != null)
      {
        <p>@Model.Message</p>
      }
    </div>
    <div class="history">
      <h2>Last Watered</h2>
      <p id="last-watered">2023-04-23 11:30 AM</p>
    </div>
  </div>
</body>

@section Scripts
    {
        <script>
            document.getElementById("slider").addEventListener("input", function (event) {
                document.getElementById("sliderValue").textContent = event.target.value;
            });
        </script>
}