@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    <div class="login">
      <form method="post">
        <label for="Username">Username:</label>
        <input type="text" name="Username" id="Username" required />

        <label for="Password">Password:</label>
        <input type="password" name="Password" id="Password" required />

        <input type="submit" value="Login" />
      </form>
            @if (Model.ShowErrorMessage)
            {
                <div class="text-danger">Invalid username or password.</div>
            }
    </div>
  </div>
</body>

