<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<SshTunnel>
			<SshPrivateKeyPath>AWS-EC2-WWWatering.pem</SshPrivateKeyPath>
			<SshPrivateKeyPath2>C:\Users\29161\.ssh\AWS-EC2-WWWatering.pem</SshPrivateKeyPath2>
			<ServerDomain>wwwatering-env.eba-fmrphqpt.eu-north-1.elasticbeanstalk.com</ServerDomain>
			<ServerSshPort>22</ServerSshPort>
			<ServerSshUsername>ec2-user</ServerSshUsername>
			<ServerTunnelingPort>5555</ServerTunnelingPort>
			<LocalTunnelingPort>5555</LocalTunnelingPort>
		</SshTunnel>
		<Logging>
			<HumidityLogPath>HumidityLog.txt</HumidityLogPath>
			<WebServerLogPath>WebServerLog.txt</WebServerLogPath>
		</Logging>
	</AppSettings>
</configuration>