<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<SshTunnel>
			<SshPrivateKeyPath>C:\Users\29161\.ssh\AWS-EC2-WWWatering.pem</SshPrivateKeyPath>
			<ServerIP>16.16.115.4</ServerIP>
			<ServerSshPort>22</ServerSshPort>
			<ServerSshUsername>ec2-user</ServerSshUsername>
			<ServerTunnelingPort>8080</ServerTunnelingPort>
			<LocalTunnelingPort>80</LocalTunnelingPort>
		</SshTunnel>
	</AppSettings>
</configuration>